/**
 * Home page courses intro styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

.coursesIntro {
    padding: 32px;

    background: url("/images/courses.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: $color-secondary;

    text-align: center;

    @include to(1) {
        padding: 32px 0;
    }

    .title,
    .text {
        color: #fff;
    }
}
