/**
 * Home page footer styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "compass/css3/flexbox";

.footer {
    position: relative;

    padding-bottom: 32px;

    background: $color-primary;

    .btn-primary {
        &:hover {
            border-color: #000;
            color: #000;
        }
    }
}

.footer-content {
    position: relative;
    z-index: 1;

    width: 240px;

    margin: 0 auto 32px;

    text-align: center;
}

.footer-title {
    color: #fff;
}

.footer-alpLogo {
    position: relative;
    margin-top: -64px;
}

.footer-logos {
    @include display-flex;

    @include to(3) {
        position: relative;

        width: 100%;

        @include flex-direction(column);
        @include justify-content(center);
    }

    @include from(4) {
        position: absolute;

        @include justify-content(space-between);
        @include align-items(center);

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}

.footer-logo {
    display: block;

    background-position: center;
    background-repeat: no-repeat;

    text-indent: -9999px;

    @include to(3) {
        margin: 16px auto;
    }
}

.footer-logo--libek {
    width: 253px;
    height: 76px;

    background-image: url("/images/footer/libek-logo.png");

    @include from(4) {
        margin-left: 32px;
    }
}

.footer-logo--naumann {
    width: 386px;
    height: 27px;

    background-image: url("/images/footer/naumann-logo.png");

    @include to(1) {
        width: 257px;
        height: 18px;

        background-size: cover;
    }

    @include from(4) {
        margin-right: 32px;
    }
}
