/**
 * Home page hero styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";

.hero {
    padding: 32px;

    background: url("../../../../public/images/hero7.png");
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;

    color: #fff;
}

.hero-text {
    font-size: 24px;
    font-weight: bold;

    @include to(1) {
        font-size: 16px;
    }
}

.hero-subtitle {
    font-size: 64px;
    text-transform: uppercase;

    @include to(1) {
        font-size: 48px;
    }
}

.hero-title {
    margin: 16px auto 32px;
    font-size: 38px;

    @include to(1) {
        font-size: 32px;
    }
}
