/**
 * Home page testimonials styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

.testimonials {
    padding: 32px 0 96px;

    background: url("/images/testimonials.jpg");
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;

    color: #fff;

    @include to(1) {
        padding: 32px 0 64px;
    }
}

.testimonial-name {
    font-size: 24px;
    font-weight: bold;
}

.testimonial-signature {
    font-size: 22px;
}
