/**
 * Type configuration.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

.text {
    font-size: 18px;
}

.title {
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
}
