/**
 * Base login page styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";

body {
	background-color: #023;
}

/**
 * The container for the login screen.
 */
.admin-login--container {
	margin-top: 120px;
	padding: 72px;

	max-width: 480px;

	background-color: $color--secondary;

	color: $color--primary;

	opacity: 0;

	@include border-radius(10px);

	@include box-shadow($color--primary 0px 0px 10px);

	@include to(1) {
		margin-top: 20px;
		padding: 16px;
	}

	@include animation(fadein 0.5s);
	@include animation-delay(0.5s);
	@include animation-fill-mode(forwards);
}

/**
 * Override Bootstrap's primary button color, to add our branding.
 */
.btn-primary {
	border-color: $color--secondary;

	background-color: $color--primary;

	color: $color--secondary;

	&:hover,
	&:focus {
		border-color: $color--secondary;

		background-color: $color--primary;

		color: #fff;

		outline: none;
	}
}
