/**
 * Admin panel header.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "breakpoint-slicer";

/**
 * The header of the admin panel.
 */
.header {
	height: 48px;

	background-color: $color-secondary;

	color: #fff;

	line-height: 48px;

	@include clearfix;

	@include to(2) {
		z-index: 124;

		position: fixed;
		top: 0;

		width: 100%;
	}
}

/**
 * The arrow, show/hide nav
 */
.header-navToggleButton {
	float: left;
	display: none;

	width: 40px;
	height: 48px;

	line-height: 48px;
	text-align: center;

	left: 0px;

	color: #fff;

	&:focus {
		color: #fff;
		text-decoration: none;
	}

	&:hover {
		color: $color-secondary;
		background-color: $color-primary;
	}

	@include to(2) {
		display: block;
	}

	/**
	 * The open/close icons.
	 *
	 * We're using Font Awesome's left/right arrows for this, so we'll hide
	 * those elements accordingly.
	 */

	.fa-arrow-left {
		display: none;
	}

	.fa-arrow-right {
		display: inline-block;
	}

	&.is-open {
		.fa-arrow-left {
			display: inline-block;
		}

		.fa-arrow-right {
			display: none;
		}
	}
}

/**
 * The content of the admin header is pushed to the right.
 */
.header-content {
	position: absolute;

	right: 0;
}

/**
 * Both of the elements in the admin header should float left.
 */
.header-hello,
.header-logoutForm {
	float: left;
}

/**
 * There should be a little bit of space between the logout form and the "hello"
 * message,
 */
.header-hello {
	margin: 0 16px 0 0;
}

/**
 * The logout button styling.
 */
.header-logoutButton--container {
	margin-bottom: 0;
}

.header-logoutButton {
	border: 0;

	margin: 0;
	padding: 0 16px;

	height: 48px;

	background: $color-secondary;

	&:hover {
		background: $color-primary;

		color: #000;
	}
}

/**
 * The text in the logout button should be hidden an smaller screens, to save
 * space.
 */
.header-logoutButton-text {
	@include to(1) {
		display: none;
	}
}
