/**
 * Admin page administration styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/images";
@import "compass/typography/text/ellipsis";
@import "compass/utilities/general/clearfix";

/**
 * The list-wide actions for the itemList
 */
.itemList-actions {
	margin-bottom: 5px;
	@include clearfix;
}

/**
 * Icon links in the list actions - we need to remove the underline on hover
 * because it looks ugly, but also because it's a bit buggy with where the
 * underline ends up being rendered.
 */
.itemList-iconLink {
	&:hover {
		text-decoration: none;
	}
}

/**
 * The list head which contains column names.
 */
.itemList-head {
	background: $itemList-head-bg;

	padding: 6px 0;

	color: $itemList-head-text;

	@include clearfix;
}

/**
 * All columns should have this class, so they don't break the layout when the
 * screen isn't wide enough.
 */
.itemList-column {
	@include ellipsis;
}

/**
 * Removed overflow hiden from dropdown links
 */
.itemList-noDrag {
	overflow: visible;
}


/**
 * This styles each of the `ol` list elements.
 */
.itemList-list {
	display: block;
	position: relative;

	margin: 0;
	padding: 0;

	list-style: none;

	/**
	 * Nested lists should be indented.
	 */
	.itemList-list & {
		padding-left: 30px;

		.itemList-item-contents {
			padding: 5px 10px;
		}
	}

	/**
	 * Within a collapsed item, the list shouldn't be visible.
	 */
	.itemList-item--collapsed & {
		display: none;
	}
}

/**
 * Some default position-related styling for the listed elements.
 */
.itemList-item,
.itemList-empty,
.itemList-placeholder {
	position: relative;
	display: block;

	margin: 0;
	padding: 0;

	@include box-sizing(border-box);
}

/**
 * The placeholder that shows where the dragged element will fall if dropped.
 */
.itemList-placeholder {
	border: 1px dashed $itemList-placeholder-borderColor;

	margin: 5px 0;

	background: $itemList-placeholder-bg;
}

/**
 * This class is applied to items while they are being dragged.
 *
 * We are using a high `z-index` (agains best practices) so as to override any
 * other potential plugins that use needlessly high `z-index`es for moving stuff
 * to front.
 */
.itemList-item--dragged {
	z-index: 9999;

	position: absolute;

	pointer-events: none;

	& > .itemList-item .itemList-item-contents {
		margin-top: 0;
	}

	.itemList-item-contents {
		@include box-shadow(2px 4px 6px 0 rgba(#000, 0.1));
	}
}

/**
 * This is the actual contents of each of the list items, and it contains the
 * item title, as well as the action links.
 */
.itemList-item-contents {
	display: block;

	border: 1px solid $itemList-item-contents-borderColor;

	margin: 5px 0;
	padding: 5px 10px;

	height: 30px;

	color: $itemList-item-contents-text;

	text-decoration: none;
	font-weight: bold;

	padding: 5px 10px 5px 25px;
	@include box-sizing(border-box);

	&:hover {
		color: $color-primary;
	}

	@include to(1) {
		height: 33px;
	}
}

/**
 * The button for expanding/collapsing nested lists.
 *
 * This is, perhaps a bit unintuitively, not rendered by the plugin within the
 * item contents container element, but within the list item element itself, so
 * we must be careful to style it so it can push the actual content if needed.
 */
.itemList-expandCollapseButton {
	z-index: 1;
	position: absolute;

	display: block;

	border: 0;
	padding: 0;

	width: 30px;
	height: 30px;

	background: transparent;

	color: $itemList-expandCollapseButton-text;

	text-align: center;

	white-space: nowrap;
	overflow: hidden;

	cursor: pointer;
	color: #fff;
	background-color: $color-secondary;

	&:hover {
		color: $itemList-expandCollapseButton-text-hover;
	}

	@include to(1) {
		width: 33px;
		height: 33px;
	}
}

/**
 * This is how empty lists are styled.
 *
 * This style is only applied when we have two (or more) connected lists where
 * items can be dragged from one list to another, and we are left with an empty
 * list at some point, when all items have been dragged to another list. When
 * using only a single list, this will never be applied, even if we start with
 * an empty list.
 *
 * The background is the commonly used "transparent" pattern, with alternating
 * white and light-gray squares.
 */
.itemList-list--empty {
	border: 1px dashed $itemList-empty-borderColor;

	margin: 5px 0;

	min-height: 100px;

	background: $itemList-empty-bg;

	@include background-image(
		linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff)
	);

	background-size: 20px 20px;
	background-position: 0 0, 30px 30px;
}

/**
 * Container for icons link
 * include ellipsis just for large devices
 */
.itemList-icons {
	@include from(2) {
		@include ellipsis;
	}

	@include to(1) {
		position: absolute;
		overflow: hidden;

		visibility: hidden;
		opacity: 0;

		top: 25px;
		right: -11px;

		z-index: 1000;

		width: 0px;
		height: 0px;

		padding: 5px;
		margin: 2px 0 0;

		text-align: right;

		background-color: #fff;

		border: none;
		border-radius: 160px;
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);

		@include transition(all 0.25s ease);
		/**
		 * This class adding bootstrap, data-toggle, data-target
		 * animate to circle
		 */
		&.open {
			opacity: 1;
			visibility: visible;

			border-radius: 0px;

			width: 160px;
			min-height: 130px;
			height: auto;

			.itemList-iconLink--dropdown {
				opacity: 1;
			}
		}
	}
}

/**
 * On smaller devices links not inline
 */
.itemList-iconLink--dropdown {
	color: $color-secondary;
	display: inline-block;

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		color: $color-primary;
	}

	@include to(1) {
		display: block;
		padding: 10px;

		border-bottom: 1px solid #ccc;
		opacity: 0;
	}
}

/**
 * toggle button for editing links,
 */
.itemList-column-btn {
	position: absolute;

	right: -10px;
	top: -6px;

	width: 33px;
	height: 33px;

	padding: 0px;

	&:active,
	&:focus {
		outline: none;
		border: none;
	}

}
