/**
 * Customizations for redactor's iframe styles.
 *
 * @copyright ©2011-2015 CreITive (http://www.creitive.rs)
 */

body {
	font-family: "Roboto Regular", Arial, sans-serif;
}

body,
div,
p,
ul,
ol,
table,
dl,
blockquote,
pre {
	font-size: 14px;
}
